{% extends 'base.html'%}

{% block head %}
<title>Stock Market Prediction</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<link rel="icon" href="{{url_for('static', filename='/img/stock-market.png')}}" type="image/png">

<script>
	var date = '{{ date }}';
	var current_prices = '{{ current_prices}}';
	var datetimes_prices = '{{ datetimes_prices}}';
</script>

{% endblock %}
{% block body %}

<!-- Sidebar -->
<section id="sidebar">
	<div class="inner intro">
		<nav>
			<ul>
				<li><a href="#intro">HOME</a></li>
				<li><a href="#10min">10min</a></li>
				<li><a href="#1min">1min</a></li>
				<li><a href="#60min">60min</a></li>
			</ul>
		</nav>
	</div>
</section>

<!-- Wrapper -->
<div id="wrapper">
	<!-- Intro -->
	<section id="intro" class="wrapper spotlights style1">
		<section>
			<div class="content">
				<div class="inner">
					<h1>Stock market prediction</h1>
					<p style="font-style: italic;">Welcome to stock market prediction using LSTM neural networks</p>
				</div>
			</div>
		</section>
	</section>

	<div class="separator">

		<!-- 10 min prediction -->
		<section id="10min" class="wrapper style1">
			<div class="inner">
				<h2>10 minutes' prediction </h2>
				<h5>Current time: <h5 class="date">{{ date }}</h5>
				</h5>
				<div style="padding-bottom: 60px;">
					<canvas id="chart"></canvas>
				</div>
				<div class="features">
					<section>
						<h3>Predicted price:</h3>
						<p id="predictedPrice10min" class="date">--</p>
					</section>
					<section>
						<h3>Predicted direction:</h3>
						<p id="predictedDirection10min" class="date">--</p>
					</section>
				</div>
				<div style="text-align: center;">
					<div class="popup">
						<button id="predictButton">PREDICT</button>
						<span class="popuptext" id="popup10">LOADING...</span>
					</div>
				</div>

			</div>
		</section>
		<div class="separator"></div>

		<!-- 1 min prediction -->
		<section id="1min" class="wrapper style1">
			<div class="inner">
				<h2>1 minute's prediction </h2>
				<h5>Current time: <h5 class="date">{{ date }}</h5>
				</h5>
				<div style="padding-top: 60px;">
					<div class="features">
						<section>
							<h3>Predicted price:</h3>
							<p id="predictedPrice1min" class="date">--</p>
						</section>
						<section>
							<h3>Predicted direction:</h3>
							<p id="predictedDirection1min" class="date">--</p>
						</section>
					</div>
				</div>
				<div style="text-align: center;padding-top: 30px;">
					<div class="popup">
						<button id="predict1Button">PREDICT</button>
						<span class="popuptext" id="popup1">LOADING...</span>
					</div>
				</div>
			</div>
		</section>

		<div class="separator"></div>

		<!-- 60 min prediction -->
		<section id="60min" class="wrapper style1">
			<div class="inner">
				<h2>60 minutes' prediction </h2>
				<h5>Current time: <h5 class="date">{{ date }}</h5>
				</h5>
				<div style="padding-top: 60px;">
					<div class="features">
						<section>
							<h3>Predicted direction:</h3>
							<p id="predictedDirection60min" class="date">--</p>
						</section>
					</div>
				</div>

				<div style="text-align: center;padding-top: 30px;">
					<div class="popup">
						<button id="predict60Button">PREDICT</button>
						<span class="popuptext" id="popup60">LOADING...</span>
					</div>
				</div>
			</div>
		</section>

		<div class="separator"></div>
		<!-- Footer -->
		<footer id="footer" class="wrapper style1">
			<div class="inner">
				<a>By Guillermo Arce Poyal</a>
			</div>
		</footer>
		<div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from
			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
		</div>
		<div style="padding-top: 5px; background-color: white;"></div>
		{% endblock %}